<h1 class="title is-4">Cart</h1>
<% cart.each do |product, quantity| %>
  <div class="navbar-item" >
    <p>
      <strong><%= product.name %></strong>
       &nbsp;&nbsp; $<%= product.price %>
       &nbsp;&nbsp; QTY: <%= quantity %>
    </p>
  </div>
<% end %>
<br/>
<div class="navbar-item">
<ul>
  <li>
    Subtotal:&nbsp;&nbsp;$<%= cart.inject(0) { |total, (product, quantity)| total + (product.price * quantity) } %>
  </li>
  <% if current_user.province.pst %>
    <li>
      PST: $<%= current_user.province.pst %>
    </li>
  <% end %>
  <% if current_user.province.gst %>
    <li>
      GST: $<%= current_user.province.gst %>
    </li>
  <% end %>
  <% if current_user.province.hst %>
    <li>
      HST: $<%= current_user.province.hst %>
    </li>
  <% end %>
  <li>
    Total: $ <%= grand_total %>
  </li>

  <%= button_to(place_order_path, method: :get, class: "button is-primary") do %>
    <strong>Place Order</strong>
  <% end %>

  <%# remote: true, might be the default of form_with, and it is using AJAX, will not fresh the page %>
  <%# will be data-remote="true" in the html, it is not a html attribute. it is telling rails to use javascript for submiting the form, with an xhr requrest %>
  <%# as JS    format is JS %>
  <%= form_with url: checkout_create_path, remote: true do %>
    <%= hidden_field_tag(:cart, cart, autocomplete: "off") %>
    <%= button_tag 'stripe checkout', class: "button is-primary"  %>
  <% end %>
</ul>
</div>
