<div class="column is-one-quarter">
  <div class="card">
    <div class="card-image">
      <figure class="image">
        <% if show_link %>
          <%= link_to image_tag(product.image, alt: product.name), product%>
        <% else %>
          <%= image_tag(product.image_url, alt: product.name) %>
        <% end %>
      </figure>
    </div>
    <div class="card-content">
    <h4 class= "title is-7">
      <% if show_link %>
        <%= link_to product.name, product %>
      <% else %>
        <%= product.name %>
      <% end %>
    </h4>
    <div class="content">
      <p><%= product.description %></p>
    </div>
  </div>
  </div>

</div>