<div class="column is-one-quarter">
  <div class="card">
    <div class="card-image">
      <figure class="image">
        <% if show_link %>
          <%= link_to image_tag(product.image, alt: product.name), product%>
        <% else %>
          <%= image_tag(product.image, alt: product.name) %>
        <% end %>
      </figure>
    </div>
    <div class="card-content">
    <div class="content">
      <h4 class= "title is-6">
        <% if show_link %>
          <%= link_to product.name, product %>
        <% else %>
          <%= product.name %>
        <% end %>
      </h4>
      <h4 class= "title is-7"><%= product.category.name %></h4>
      <% if !show_link %>
        <p><%= product.description %></p>
      <% end %>
      <p>$<%= product.price %></p>
      <%= form_with url: cart_index_path do %>
        <%= hidden_field_tag(:id, product.id) %>
        <div class="field is-grouped">
          <%= number_field(:recipe, :quantity, min: 1, class: "input") %>
          <%= button_tag(cart.include?(product) ? 'Update' : 'Add', class: "button is-primary") %>
        </div>
      <% end %>

      <% if cart.include?(product) %>
        <%= button_to(cart_path(product), method: :delete, class: "button is-warning") do %>
          Delete
        <% end %>
      <% end %>
    </div>
  </div>
  </div>

</div>